{# empty Twig template #}
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content=" tchat">
        <meta name="author" content="">

        <title>T-chat</title>

        <!-- Bootstrap core CSS -->
        <link href="../../src/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <div class="jumbotron text-center">
         <h1>Tchat</h1>
         <p>Site de chat de test</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Utilisateurs</h3>
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Login</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.login }}</td>
                                    <td>
                                        <a href="/index.php/{{ user.id }}">Ecrire à</a>
                                           
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
              <div class="col-sm-4">
                    <h3>Messages</h3>
                    {% if receiver %}
                        <form method="post" action="/">
                            <input type="hidden" name="sender" value="{{sender}}"  required="true"/> <br/>
                            <input type="hidden" name="receiver" value="{{receiver}}"   required="true" /> <br/>
                            <input type="text" name="content"class="form-control" required="true" /> <br/>
                            <input type="submit" value="Envoyer" class="btn btn-control">
                        </form>
                    {% endif%}
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Contenue</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for message in messages %}
                                <tr>
                                    <td>{{ message.id }}</td>
                                    <td>{{ message.content }}</td>
                                    <td>
                                        <a href="/index.php/{{ message.receiver }}/{{ message.id }}">details</a>
                                           
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
              </div>
              <div class="col-sm-4">
                    <h3>detaills</h3>
                    <div>
                        {% if message %}
                            <table>
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ message.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Expéditeur</th>
                                        <td>sender</td>
                                    </tr>
                                    <tr>
                                        <th>Recepteur</th>
                                        <td>Contenue</td>
                                    </tr>
                                    <tr>
                                        <th>Contenue</th>
                                        <td>{{ message.content }}</td>
                                    </tr>
                                </thead>
                            </table>
                        {% else %}
                            <p> Pas de message selectionné</p>
                        {% endif%}    
                    </div>
              </div>
            </div>
        </div> 
    </body>
</html>    